/* template1.css */
.card-template.template1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #F5D44B; /* Light gold color for text */
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}



/* Name */
.card-template.template1 .name {
  font-size: 24px;
  font-weight: bold;
  color: #F5D44B;
  margin-right: -50%;
}


/* Position */
.card-template.template1 .position {
  font-size: 14px;
  color: #A8A8A8; /* Light grey color for position */
  margin-right: -50%;
  margin-top: -2%;
}

/* Company */
.card-template.template1 .company {
  font-size: 14px;
  color: #2b2a28;
  margin-left: -79%;
  margin-top: 15%;
  font-weight: bold;
}
/* Logo */
.card-template.template1 .logo {
  width: 60px;
  height: 60px;
  margin-top: 40px;
}

.card-template.template1 .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 55%;
  max-width: 50%;
  margin-bottom: 5px;
}

.card-template.template1 .contact-info p {
  font-size: 8px;
  color: #F5D44B;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-template.template1 .contact-info .phone {
  margin-bottom: 3px;
}

.card-template.template1 .contact-info .website {
  margin-bottom: -5px;
  font-style: italic;
  margin-top: 3px;
}

.card-template.template1 .contact-info .email {
  margin-bottom: 4px;
}

.card-template.template1 .contact-info .address {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 2px;
}

.card-template.template1 .contact-info .hidden {
  visibility: hidden; /* Hides the item but keeps its space */
}

/* Specific Spacing */
.card-template.template1 .contact-info p:nth-child(1) {
  margin-top: 10px;
}
